.dropdown-menu{
    height:1000px;
    background:#1a1a1a;
    position: absolute;
    top:0px;
    margin:0;
    padding-top:50px;
    width:200px;
    border-radius: 0;
}
.dropdown-menu >li> a{
  color:#999999!important;
  padding:10px 20px;
  font-size: 15px;
}
.dropdown-menu >li> a:hover{
  background-color:#404040;
  color:white!important;
}
.dropdown-menu >li> a.portfolio:hover{
  background:none;
}
.dropdown{
  position: fixed;
  right:0;
  z-index:1000;
}
.dropdown .btn{
  background:transparent;
  border:none;
  margin:10px;
}
.btn:focus{
  background:#333!important;
}
#about{
  background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../images/delhi.jpg");
  background-size: 100% 100%;
  height:auto;
  color:white;
  padding:150px 0px;
}
#about div img{
  margin:3px;
  opacity:0.5;
  height:40px;
  width:40px;
}
#about div img:hover{
  opacity: 0.8;
}
#education{
  padding:50px 0px;
}
#work div{
  padding-bottom:50px;
}
#work img{
  border:3px solid #4d4d4d;
}
#skills ul{
  margin:0 auto;
  width:200px;
  padding-bottom: 30px;
}
.container-fluid{
  background:gray;
  padding-top:50px;
  padding-bottom:50px;
  color:white;
}
.container{
  padding-top:50px;
  padding-bottom:50px;
  color:#404040;
}
.container h1, .container-fluid h1{
  text-shadow:2px 2px 4px #000;
  padding-bottom: 50px;
}
.thumbnail{
  padding:20px 30px;
  border:none;
  background:gray;
}
@media all and (min-width: 769px){
  h1{
    font-size: 70px;
  }
  #education >h3{
  line-height: 2;
  }
  #about h2{
    font-size: 45px;
  }
  #about>img{
    height:200px;
    width:200px;
  }
}
@media all and (max-width: 768px){
  #education{
    width:80%!important;
  }
  #education >h3{
  line-height: 1.5;
  }
  #about{
    height:auto;
    padding:80px 0px;
  }
}
@media all and (max-width: 500px){
  .dropdown-menu >li> a{
    padding:5px 10px;
    font-size: 12px;
  }
  .dropdown-menu >li> a>h4{
    font-size: 15px;
  }
  #about{
    height:auto;
    padding:90px 0px;
  }
  h3{
    font-size: 15px;
  }
  h2{
    font-size: 20px;
  }
  #about div img{
    height:20px;
    width:20px;
  }
  .dropdown-menu{
    padding-top: 50px;
    min-width:140px!important;
    width: 140px;
  }
  #education >h3{
  line-height: 1.5;
  }
}