

.close-icon{
	text-align: right;
	margin-bottom: 20px;
	svg{
		font-size: 30px;
	}
	&:hover{
		cursor: pointer;
	}
}



#projects-work{
  .github-logo{
    width:20px;
    height:20px;
  }
	.wrapper {
		// display: flex;
		grid-template-columns: repeat(3, 1fr);
		gap: 1.5rem;
		display: grid;
		// justify-content: space-around;
	}
	
	.card {
		// width: 280px;
		height: 320px;
		border-radius: 15px;
		margin-bottom: 30px;
		background: white;
		position: relative;
		display: flex;
    flex-direction: column;
		align-items: flex-end;
		transition: 0.4s ease-out;
		box-shadow: 0px 7px 10px rgba(black, 0.5);

		.title{
			color:#fff;
			z-index: 3;
			background-color: #0d67d7;
			width:100%;
			border-radius: 0px 0px 15px 15px ;
			height: 40px;
			vertical-align: center;
			// font-size: 1.5rem;
			display: flex;
			align-items: center;
			justify-content: center;
	
		}
	
		&:hover {
			// padding: 1rem;
			// transform: translateY(20px);
	
			&:before {
				opacity: 1;
			}
			.title {
				opacity: 0;
			}
	
			.info {
				opacity: 1;
				// transform: translateY(30px);
				// margin: auto;
			}
		}
	
		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			width: 100%;
			height: 100%;
			border-radius: 15px;
			background: rgba(black, 0.6);
			z-index: 2;
			transition: 0.5s;
			opacity: 0;
		}
	
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			position: absolute;
			top: 0;
			left: 0;
			border-radius: 15px;
		}
	
		.info {
      padding:1rem;
			position: relative;
			z-index: 3;
			color: white;
			opacity: 0;
			transform: translateY(30px);
			transition: 0.5s;
			margin:auto;
	
			h1 {
				margin: 0;
			}
	
			p {
				letter-spacing: 1px;
				// font-size: 15px;
				margin-top: 8px;
			}
	
			button {
				padding: 0.6rem;
				outline: none;
				border: none;
				border-radius: 3px;
				background: white;
				color: black;
				font-weight: bold;
				cursor: pointer;
				transition: 0.4s ease;
	
				&:hover {
					background: dodgerblue;
					color: white;
				}
			}
		}
	}

}


.popup-overlay {
  position: fixed;
	z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  background-color: #fff;
  padding: 20px;
	max-height: 95%;
	max-width: 97%;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
	p {
		margin-bottom: 3px;
	}

	#expanded-img{
		width:500px;
		margin: 10px 5px;
		height:300px;
		border-radius: 5px;
		box-shadow: 0 7px 9px rgba(0, 2, 68, 0.8) !important;
	}
	.thumbnail img{
		width:200px;
		margin:5px;
		height:130px;
		box-shadow: 0 3px 5px rgba(0, 2, 68, 0.8) !important;
		border-radius: 3px;
		display: inline;
	}
	.expanded img{
    height:315px;
	}
}


@media screen and (max-width: 1200px) {
	#projects-work{
		.wrapper {
			display: block!important;
		}
		.card {
			height:250px;
		}
	}

	.popup {
		#expanded-img{
			width:400px;
			margin: 5px;
			height:250px;
		}
		.thumbnail img{
			width:150px;
			margin:3px;
			height:100px;
		}
	}
}

@media screen and (max-width: 768px) {
  #projects-work{
		// .slider-container{
		// 	margin:3rem 2rem;
		// }
		.slide-card{
			padding:0!important;
		}
		.expanded img {
			height: 170px;
			width:95%;
	  }
		.thumbnail img {
			width: 33.3%;
			height: 70px;
			display: inline;
	  }
    .card {
      font-size: 15px;
      .card-title{
        margin: 5px 0;
      }
      .info{
        padding: 0.7rem;
        transform: none;
      }
    }
	}

	.popup {
		#expanded-img{
			width:340px;
			margin: 5px 0px;
			height:230px;
		}
		.thumbnail img{
			width:70px!important;
			margin:3px!important;
			height:50px!important;
		}
	}
	#projects-work{
		.card:hover .info{
			transform: none;
		}
	}

}


.center-dot{
	// font-size: 20px;
	margin-right: 2px;
}


.social-links{
	.leetcode{
		height: 50px;
		width: 50px;
		margin-bottom: -3px;
	}
}